@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Saira+Stencil+One&display=swap');

body{
    background-color: #8C11BE;
}
.root{
    width: 375px;
    height: 100vh;
    margin:0 auto;
    background-color: #8C11BE;
}

@media screen and (max-width: 475px) {
    .root{
        width: 100vw;
    }
}